/* Estilos para la pantalla de PIN */
.pin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .pin-title {
    font-size: 42px; /* Aumentado */
    font-weight: bold;
    margin-bottom: 40px; /* Aumentado */
  }
  
  .pin-input {
    width: 350px; /* Aumentado */
    height: 70px; /* Aumentado */
    text-align: center;
    font-size: 42px; /* Aumentado */
    margin-bottom: 35px; /* Aumentado */
    border-radius: 15px; /* Aumentado */
    border: 1px solid #ccc;
    background-color: #fff;
    gap: 15px; /* Aumentado */
  }
  
  .pin-keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px; /* Aumentado */
    margin-bottom: 35px; /* Aumentado */
  }
  
  .pin-button {
    width: 120px; /* Aumentado */
    height: 120px; /* Aumentado */
    font-size: 38px; /* Aumentado */
    font-weight: bold;
    background-color: #e0e0e0;
    border: none;
    border-radius: 50%;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .pin-button:hover {
    background-color: #d6d6d6;
  }
  
  .pin-submit {
    width: 280px; /* Aumentado */
    height: 80px; /* Aumentado */
    font-size: 28px; /* Aumentado */
    font-weight: bold;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px; /* Aumentado */
    color: #fff;
    cursor: pointer;
    margin-top: 20px; /* Aumentado */
  }
  
  .pin-submit:disabled {
    background-color: #bbb;
    cursor: not-allowed;
  }
  
  .pin-keypad div:nth-child(4) {
    display: flex;
    justify-content: center;
    grid-column: span 3;
  }