body {
  font-family: 'Inter', sans-serif;
  font-size: 18px; /* Aumenta el tamaño de fuente base */
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 25px; /* Aumenta el espacio entre elementos */
}

.otp-input {
  width: 300px; /* Aumenta el ancho del input */
  padding: 15px;
  text-align: center;
  font-size: 1.2em;
}

.login-button {
  width: 300px; /* Aumenta el ancho del botón */
  padding: 15px;
  font-size: 1.2em;
}
.index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 30px; /* Aumenta el espacio entre botones */
}

.food-button {
  width: 350px; /* Aumenta el ancho del botón */
  height: 80px; /* Aumenta la altura del botón */
  font-size: 24px; /* Aumenta el tamaño de la fuente */
  display: flex;
  align-items: center;
  justify-content: center;
}

